<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/uikit.min.css" />
	<script src="/js/uikit.min.js"></script>
	<script src="/js/uikit-icons.min.js"></script>
	<link rel="stylesheet" href="/style.css">
	<title>Formulaire d'inscription</title>
</head>


<body>

	<!-- En-tête de page -->
	<header>
		<h1>ENIPIZZ</h1>

		<nav class="uk-navbar">
			<div class="uk-navbar-left">
				<ul class="uk-navbar-nav">
					<li class="uk-active"><a href="home">&nbsp; Accueil</a></li>
					<li><a href="creationPizza.html">A la carte</a></li>
					<li><a href="informations.html">Restaurant</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li><a href="connexion">Se connecter</a></li>
					<li><a href="registration">S'inscrire</a></li>
					<li><a href="#"><img src="/images/panier.png" width="50px"></img></a></li>
				</ul>
			</div>
		</nav>

	</header>
</body>

</html>